<%- include('partials/header') %>
<ul class="cardsContainer pokemon-list reset-list row">
  <% for(const pokemon of pokemonList) { %>

    <li class="card">
        <a href="/pokemon/<%=pokemon.id%>">
  <figure class="p-3">
    <img src="/img/<%=pokemon.id%>.png">
    <figcaption><%=pokemon.name%> <%=pokemon.num%> </figcaption>
  </figure>
  </a>
  </li>
  <% } %>

</ul>



<% if (locals.toastMessage) {%>

<div class="position-fixed bottom-0 end-0 p-3 text-white" style="z-index: 11">
  <div id="typeListToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-primary text-white">
      <img src="/img/pikachu.gif" class="rounded me-2" alt="Pikatchu picture" style="width: 55px; height: 55px;">
      <strong class="me-auto">Pokedex</strong>
      <small id="date"><%= toastDate %></small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-primary"><%= toastMessage %></div>
  </div>
</div>

<%  } else { %>

<% } %>


<% if (locals.toastMessage) {%>

<script type="text/javascript" nonce="<%=locals.nonce%>" crossorigin="anonymous">
  var toastElList = [].slice.call(document.querySelectorAll('.toast'))
  var toastList = toastElList.map(function (toastEl) {
    // Creates an array of toasts (it only initializes them)
    return new bootstrap.Toast(toastEl) // No need for options; use the default options
  });


  toastList.forEach(toast => toast.show()); // This show them
</script>

<%  } else { %>

<% } %>




<%- include('partials/footer') %>